html,body{
    margin: 0;
    padding: 0;
    background-color: #7DAA50;
    color: #2B331B;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    text-align: center;
}

h1{
    margin: 0;
    font-size: 40px;
}

h2{
    font-size: 30px; 
    margin: 0;
    margin-bottom: 50px;
}


header{
    margin: 40px auto;
   
}

/* Buttons */
#play{
    background-color: #73854A;
    color:#2B331B;
    border: 2px solid #2B331B;
    padding: 18px 26px;
    cursor: pointer;
    font-size: 30px;
}

#play:hover{
    box-shadow: 1px 3px #2B331B;
    transition: transform .4s;
    transform: scale(1.1);
}
.options{
    margin-bottom: 40px;
}

.level{
    background-color: #73854A;
    color:#2B331B;
    border: 2px solid #2B331B;
    padding: 18px 26px;
    cursor: pointer;
    font-size: 15px;
}

.level:hover{
    background-color: #2B331B;
    color:#73854A;
}

.active{
    background-color: #2B331B;
    color:#73854A;
}


/* container */
.container{
    max-width: 500px;
    margin: 0 auto;
}

/* menu */
.menu{
    width: 100%;
    text-align: center;
    background-color: #73854A;
    position: relative;
    border: 5px solid #2B331B;
    padding: 40px 0;
    top: 50px;
}

/* Board */
.board{
    display: none;

    
}

.scoreBoard{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Grid and squares */
.grid{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    border: 5px solid #2B331B;
    
}

.box{
    height: 20px;
    width: 20px;

    /* Center the apple */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Game Over*/
#end{
    display: none;
    position: absolute;
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
}

#end:hover{
    text-shadow: 1px 3px #2B331B;
    cursor: pointer;
    
}

.over{
    /**
    * Pour un inline element (ex: span) display block permet un retour à la ligne
    */
    display: block;
}

.inactive{
    background-color: #50514F;
    transition: transform 1s;
    transform: scale(0.95);
    opacity: 0.4;
}


/* snake */
.snake{
    background-color: #2B331B;
    border-radius: 5px;
}

/* apple */
.apple{
    display: block;
    font-size: 20px;
    animation: zoom 2s ease-out infinite;
}

/*snake title*/
.snake-anim{
    display: inline-block;
    font-size: 30px;
    animation: rotate 2s ease-out infinite;
}


/* Keyframes */

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


@keyframes rotate {
    0% {
        transform: rotateZ(3deg);
    }
    50% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(3deg);
    }
}





